:root {
  --size: 40px;
  --line: 1px;
  --ncol: 10;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
  -webkit-user-select: none;
	user-select: none;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f5f5dc;
}

button {
  outline: none;
  border: 1px solid black;
  padding: 10px 20px;
  min-width: 160px;
  font-size: 1rem;
  font-weight: bold;
  background: none;
  transition: all 0.15s ease-in-out;
}

button:hover {
  cursor: pointer;
  background: #deb887;
  color: black;
}

.play-area {
  display: grid;
  /*width: calc(3 * var(--size));
  height: calc(3 * var(--size));*/
  grid-template-columns: repeat(var(--ncol), auto);
}

.block {
  display: flex;
  width: var(--size);
  height: var(--size);
  align-items: center;
  justify-content: center;
  font-size: calc(0.48 * var(--size));
  font-weight: bold;
  border: var(--line) outset #eee3c2;
  transition: background 0.15s ease-in-out;
}

.block:hover {
  cursor: pointer;
  background: #deb887;
}

.checked {
  background: #e6cda5;
  border: 1px inset #eee3c2;
}

#title {
  padding: 30px;
}

#winner {
  display: inline-block;
  padding: 10px 0;
  min-height: 50px;
}

.player {
  color: blue;
}

.visitor {
  color: green;
}

.draw {
  color: orangered;
}

.gameparams {
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.param {
  margin: 0 10px;
}

.nparam {
  text-align: center;
}

h3#x {
  padding-top: 5px;
}

input#rows, input#columns, input#mines {
  padding: 8px 5px;
  width: 85px;
  text-align: center;
  background-color: #f5f5dc;
  border: 1px solid grey;
}

input#rows:focus, input#columns:focus, input#mines:focus {
  background-color: #deb887;
  font-weight: bold;
}
